NEXT_PUBLIC_KEYCLOAK_URL=http://keycloak:8080
NEXT_PUBLIC_KEYCLOAK_REALM=kb-chat-demo
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=kb-chat-demo-client-id

NEXT_PUBLIC_KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
# KEYCLOAK_ADMIN_USERNAME=kb-chat-admin
# KEYCLOAK_ADMIN_PASSWORD=kb@Admin

NEXT_PUBLIC_KEYCLOAK_ADMIN_USERNAME=admin
NEXT_PUBLIC_KEYCLOAK_ADMIN_PASSWORD=admin

NEXT_PUBLIC_OIDC_CLIENT_ID=chatwoot
NEXT_PUBLIC_OIDC_CLIENT_SECRET=vFqjFpnbkWyG6ZOa8J7IJieHavItsdlS

NEXT_PUBLIC_OUTLINE_API_TOKEN=ol_api_kD3dPpveEIVFgdlvU7Ih5cM1LoSIWUuLTw9MKs
NEXT_PUBLIC_OUTLINE_API_URL=http://localhost:3000

NEXT_PUBLIC_SECRET_KEY=4f5c2e4f3e9a4a5c8c6f8b7e5d4c2a1f
NEXT_PUBLIC_UTILS_SECRET=9d8c7b6a5e4d3c2b1a0f9e8d7c6b5a4f

NEXT_PUBLIC_POSTGRES_USER=chatwoot
NEXT_PUBLIC_POSTGRES_PASSWORD=chatwoot
NEXT_PUBLIC_POSTGRES_DB=chatwoot
NEXT_PUBLIC_SECRET_KEY_BASE=4f5c2e4f3e9a4a5c8c6f8b7e5d4c2a1f

NEXT_PUBLIC_CW_POSTGRES_USER=chatwoot
NEXT_PUBLIC_CW_POSTGRES_PASSWORD=chatwoot
NEXT_PUBLIC_CW_POSTGRES_DB=chatwoot
NEXT_PUBLIC_CW_SECRET_KEY_BASE=4f5c2e4f3e9a4a5c8c6f8b7e5d4c2a1f

NEXT_PUBLIC_CHATWOOT_API_URL=http://localhost:3001/api/v1
NEXT_PUBLIC_CHATWOOT_API_TOKEN=THj6qcnQdTTdFi7tNbX49buu
NEXT_PUBLIC_CHATWOOT_ACCOUNT_ID=1
NEXT_PUBLIC_CHATWOOT_INBOX_ID=1
NEXT_PUBLIC_CHATWOOT_WEBHOOK_URL=http://localhost:3000/api/chatwoot
NEXT_PUBLIC_CHATWOOT_WEBHOOK_SECRET=c22bed33306a4c8e1e22a49dbbe820eca77259f839894941edd0e85ae50aa672
NEXT_PUBLIC_CHATWOOT_WEBSITE_TOKEN=jukBv3MbLeVtvgwvDuxtRG1m