# ./outline/.env
PGSSLMODE=disable
NODE_ENV=development
SECRET_KEY=5923bf732ba981922c5affce0af9d1c010a0131e58737297ff0bc69db1b32f6f
UTILS_SECRET=541d94e2f23a8f7430a39c311e1a1bd9d2677c1d379742e45fce2d669e2df79d
DATABASE_URL=postgres://outline:outline@postgres:5433/outline
REDIS_URL=redis://redis:6380
URL=http://localhost:3000

# AUTHENTICATION_BACKENDS=oidc,email
AUTHENTICATION_BACKENDS=email

# OIDC_CLIENT_ID=outline
# OIDC_CLIENT_SECRET=your_client_secret_from_keycloak
# OIDC_DISCOVERY_URL=http://keycloak:8080/realms/kb-chat-demo/.well-known/openid-configuration


# Optional - for email sign-in
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USERNAME=user
SMTP_PASSWORD=pass
SMTP_FROM_EMAIL=outline@example.com
